<%= form_with(model: mentee, local: true) do |form| %>
  <% if mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
      <% mentee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :mentee_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :mentee_last_name %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university, id: :mentee_university %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :mentee_email %>
  </div>

  <div class="field">
    <%= form.label :skills %>
    <%= form.text_area :skills, id: :mentee_skills %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
