<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @mentee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @mentee.last_name %>
</p>

<p>
  <strong>University:</strong>
  <%= @mentee.university %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentee.email %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @mentee.skills %>
</p>

<%= link_to 'Edit', edit_mentee_path(@mentee) %> |
<%= link_to 'Back', mentees_path %>
