
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @mentor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @mentor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @mentor.skills %>
</p>

