<<<<<<< HEAD
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @mentor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @mentor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @mentor.skills %>
</p>
>>>>>>> 49cb4cb8d87481697e7331d347b5990e9a68864c
